# **Customer Segmentation for Marketing Strategies**

##  **Business Understanding**

## Introduction

 In the ever-evolving landscape of marketing, understanding customer behavior is paramount for businesses aiming to tailor their strategies effectively. Customer segmentation, a pivotal aspect of marketing analytics, facilitates the categorization of customers into distinct groups based on shared characteristics. This segmentation enables businesses to craft personalized marketing approaches, thereby enhancing customer satisfaction and optimizing resource allocation. This study delves into the realm of customer segmentation using clustering techniques, with a specific focus on leveraging purchasing behavior as a primary criterion. The objective is to unravel patterns within a dataset—namely, the Mall Customer Segmentation Data—that offer insights into diverse customer personas. By dissecting these patterns, businesses can better comprehend the nuances of their customer base, paving the way for targeted marketing strategies that resonate with specific segments.

**Objective:**

Use clustering techniques to segment customers into distinct groups based on purchasing behavior.

In [2]:
# Data manipulation packages
import pyodbc
from sqlalchemy import create_engine
from dotenv import dotenv_values
import pandas as pd
import numpy as np

#Data visualization packages
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

Load Data

In [3]:
# load dataset from df_mall_customers DataFrame
df_mall_customers = pd.read_csv ('Dataset/Mall_Customers.csv')
# first 5 row in DataFrame
df_mall_customers.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [5]:
# Show the number of record and columuns
df_mall_customers.shape

(200, 5)